# Arquivos de ambiente Python
venv/
*.pyc
__pycache__/
.env

# Arquivos de dados (idealmente usar Git LFS)
*.csv
*.dat
*.pkl
*.h5
*.zip
*.gz

# Arquivos de build e logs
*.log
*.out
*.tmp
build/
dist/

# Configurações de IDE
.vscode/
.idea/
*.swp
